<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<footer>
  <br>  
  <div>
    <div class="text-center center-block">
      <a target="blank" href="https://www.facebook.com/nineleaps/?ref=aymt_homepage_panel">
        <i class="fa fa-facebook-square fa-3x social"></i>
      </a>&nbsp;
      <a target="blank" href="https://twitter.com/nineleaps">
        <i class="fa fa-twitter-square fa-3x social"></i>
      </a>&nbsp;
      <a target="blank" href="https://plus.google.com/u/0/+Nineleaps">
        <i class="fa fa-google-plus-square fa-3x social"></i>
      </a>&nbsp;
      <a target="blank" href="admin @nineleaps.com">
        <i class="fa fa-envelope-square fa-3x social"></i>
      </a>&nbsp;
    </div>
    <hr />
  </div>
  <div class="footer-copyright text-center py-3">
    Privacy Policy
    <a href="https://www.nineleaps.com/"> © 2019 Nineleaps</a>
  </div>
</footer>
