.contact{
    max-width:900px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: stretch;
    flex-flow: wrap;    
   
}

.half1{
    flex:1;
}

.half2{
    text-align: center;
    padding-top: 40px;
    background-color:#E3DFE5;
    flex:1;
}
.text{
    font-size:30px;
    font-family:  'system-ui';
    font-weight: 400;
}
@media (max-width:766px){
    img{
        /* max-width: 100%;
        max-height: 100%; */
        display: none;
    }  

    .half1{
        flex:0;
    }
    .half2{
        margin-left:1%;
        margin-right: 1%;
        height:70vh; 
        
    }
    .contact{
        margin: 0;
        height:55vh;
    }
}
img{
    max-width: 100%;
    max-height: 50%;
}
input{
    max-width: 300px;
    margin: auto;
}
textarea{
    max-width: 300px;
    margin: auto;
}
