body {
    background: #e2e1e0;
    text-align: center;
  }
  
  .card {
    background: #F1EFEE;
    border-radius: 2px;
    display: inline-block;
    height: 800px;
    margin: 1rem;
    position: relative;
    width: 95%;
  }
  
  .card-small {
    background: #F1EFEE;
    border-radius: 2px;
    display: inline-block;
    height: 280px;
    margin: 1rem;
    position: relative;
    width: 95%;
  }
  
  .card-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }

  .card-header {
    margin-left: 20px;
    margin-right:auto;
    height:auto; 
    width:auto;
  }

  .container-box {
      margin-left: 20px;
      width: 600px;
      display: block;
      
  }
  .form-comment {
      margin-top: 30px;
      margin-bottom: 10px;
  }

  .form-label {
      margin-right: 20px;
      
  }
  form button {
      border-width: 0px;
      padding: 10px 20px;
      background-color: blue;
      border-radius: 2px;
      margin: 20px;
      float: right;
  }
  form textarea {
      margin-top: 10px;
      width: 800px;
      height: 100px;
  }

  form .stars {
    background: url("../../../assets/images/stars.png") repeat-x 0 0;
    width: 150px;
    margin: 0 auto;
  }
   
  form .stars input[type="radio"] {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  form .stars input[type="radio"].star-5:checked ~ span {
    width: 100%;
  }
  form .stars input[type="radio"].star-4:checked ~ span {
    width: 80%;
  }
  form .stars input[type="radio"].star-3:checked ~ span {
    width: 60%;
  }
  form .stars input[type="radio"].star-2:checked ~ span {
    width: 40%;
  }
  form .stars input[type="radio"].star-1:checked ~ span {
    width: 20%;
  }
  form .stars label {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0!important;
    padding: 0!important;
    text-indent: -999em;
    float: left;
    position: relative;
    z-index: 10;
    background: transparent!important;
    cursor: pointer;
  }
  form .stars label:hover ~ span {
    background-position: 0 -30px;
  }
  form .stars label.star-5:hover ~ span {
    width: 100% !important;
  }
  form .stars label.star-4:hover ~ span {
    width: 80% !important;
  }
  form .stars label.star-3:hover ~ span {
    width: 60% !important;
  }
  form .stars label.star-2:hover ~ span {
    width: 40% !important;
  }
  form .stars label.star-1:hover ~ span {
    width: 20% !important;
  }
  form .stars span {
    display: block;
    width: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 30px;
    background: url("../../../assets/images/stars.png") repeat-x 0 -60px;
    -webkit-transition: -webkit-width 0.5s;
    -moz-transition: -moz-width 0.5s;
    -ms-transition: -ms-width 0.5s;
    -o-transition: -o-width 0.5s;
    transition: width 0.5s;
  }