<div class="card-small card-shadow">
  <div class="card-header">
      <h2 class="header">Feedback title</h2>
  </div>


  <div class="card-default-form" >
      <div class="container-box">
        <table>
          <tr>
            <td><label class="form-label">Sender</label></td>
            <td><label class="form-label">Anonymous</label></td>
          </tr>
          <tr>
              <td><label class="form-label">Venue</label></td>
              <td><label class="form-label">Lorem ipsum dolor sit amet consectetur</label></td>
          </tr>
          <tr>
              <td><label class="form-label">Date</label></td>
              <td><label class="form-label">Lorem ipsum dolor</label></td>
          </tr>
          <tr>
            <td><label class="form-label"></label></td>
          </tr>
        </table>
         <label class="form-label"><strong>Members</strong></label>
        <table>
          <tr>
            <td><label class="form-label">name</label></td>
            <td><label class="form-label">name</label></td>
            <td><label class="form-label">name</label></td>
          </tr>
        </table>
      </div>
   </div>  
 </div>


 <div class="card card-shadow">
    <div class="card-header">
        <h2 class="header">Performance feedback</h2>
    </div>
  
  
    <div class="card-default-form" >
      <form action="" name="feedback-form" method="POST">
        <div class="container-box">
          <table>
            <tr>
              <td><label class="form-label">Title</label></td>
              <td><input type="text" class="form-textbox" id="title-textbox"></td>
            </tr>
            <tr>
                <td><label class="form-label">Venue</label></td>
                <td><input type="text" class="form-textbox" id="venue-textbox"></td>
            </tr>
            <tr>
                <td><label class="form-label">Date</label></td>
                <td><input type="text" class="form-textbox" id="date-textbox"></td>
            </tr>
          </table>
        </div>
        <div class="card-header">
            <h2 class="header">Performance Evaluation</h2>
        </div>
        <div class="container-box">
          <table>
          <tr>
              <td><label class="form-label">Work Quality</label></td>     
              <td><div class="stars">
                  <input type="radio" name="wq-star" class="star-1" id="wq-star-1" value='1' />
                  <label class="star-1" for="wq-star-1" value=1>1</label>
                  <input type="radio" name="wq-star" class="star-2" id="wq-star-2" />
                  <label class="star-2" for="wq-star-2">2</label>
                  <input type="radio" name="wq-star" class="star-3" id="wq-star-3" />
                  <label class="star-3" for="wq-star-3">3</label>
                  <input type="radio" name="wq-star" class="star-4" id="wq-star-4" />
                  <label class="star-4" for="wq-star-4">4</label>
                  <input type="radio" name="wq-star" class="star-5" id="wq-star-5" />
                  <label class="star-5" for="wq-star-5">5</label>
                  <span></span>
                 </div>
               </td>   
             </tr>
             <tr>
                <td><label for="small" class="form-label">Communication</label></td>     
                <td><div class="stars">
                    <input type="radio" name="com-star" class="star-1" id="com-star-1" />
                    <label class="star-1" for="com-star-1">1</label>
                    <input type="radio" name="com-star" class="star-2" id="com-star-2" />
                    <label class="star-2" for="com-star-2">2</label>
                    <input type="radio" name="com-star" class="star-3" id="com-star-3" />
                    <label class="star-3" for="com-star-3">3</label>
                    <input type="radio" name="com-star" class="star-4" id="com-star-4" />
                    <label class="star-4" for="com-star-4">4</label>
                    <input type="radio" name="com-star" class="star-5" id="com-star-5" />
                    <label class="star-5" for="com-star-5">5</label>
                    <span></span>
                   </div>
                 </td>   
               </tr>
               <tr>
                  <td><label for="small" class="form-label">Technical Skills</label></td>     
                  <td><div class="stars">
                      <input type="radio" name="ts-star" class="star-1" id="ts-star-1" />
                      <label class="star-1" for="ts-star-1">1</label>
                      <input type="radio" name="ts-star" class="star-2" id="ts-star-2" />
                      <label class="star-2" for="ts-star-2">2</label>
                      <input type="radio" name="ts-star" class="star-3" id="ts-star-3" />
                      <label class="star-3" for="ts-star-3">3</label>
                      <input type="radio" name="ts-star" class="star-4" id="ts-star-4" />
                      <label class="star-4" for="ts-star-4">4</label>
                      <input type="radio" name="ts-star" class="star-5" id="ts-star-5" />
                      <label class="star-5" for="ts-star-5">5</label>
                      <span></span>
                     </div>
                   </td>   
                 </tr>
                 <tr>
                    <td><label for="small" class="form-label">Productivity</label></td>     
                    <td><div class="stars">
                        <input type="radio" name="pro-star" class="star-1" id="pro-star-1" />
                        <label class="star-1" for="pro-star-1">1</label>
                        <input type="radio" name="pro-star" class="star-2" id="pro-star-2" />
                        <label class="star-2" for="pro-star-2">2</label>
                        <input type="radio" name="pro-star" class="star-3" id="pro-star-3" />
                        <label class="star-3" for="pro-star-3">3</label>
                        <input type="radio" name="pro-star" class="star-4" id="pro-star-4" />
                        <label class="star-4" for="pro-star-4">4</label>
                        <input type="radio" name="pro-star" class="star-5" id="pro-star-5" />
                        <label class="star-5" for="pro-star-5">5</label>
                        <span></span>
                       </div>
                     </td>   
                   </tr>
                   <tr>
                      <td><label for="small" class="form-label">Attitude</label></td>     
                      <td><div class="stars">
                          <input type="radio" name="att-star" class="star-1" id="att-star-1" />
                          <label class="star-1" for="att-star-1">1</label>
                          <input type="radio" name="att-star" class="star-2" id="att-star-2" />
                          <label class="star-2" for="att-star-2">2</label>
                          <input type="radio" name="att-star" class="star-3" id="att-star-3" />
                          <label class="star-3" for="star-3">3</label>
                          <input type="radio" name="att-star" class="star-4" id="att-star-4" />
                          <label class="star-4" for="att-star-4">4</label>
                          <input type="radio" name="att-star" class="star-5" id="att-star-5" />
                          <label class="star-5" for="att-star-5">5</label>
                          <span></span>
                         </div>
                       </td>   
                     </tr>
                     <tr>
                        <td><label for="small" class="form-label">Cooperation</label></td>     
                        <td><div class="stars">
                            <input type="radio" name="coo-star" class="star-1" id="coo-star-1" />
                            <label class="star-1" for="coo-star-1">1</label>
                            <input type="radio" name="coo-star" class="star-2" id="coo-star-2" />
                            <label class="star-2" for="coo-star-2">2</label>
                            <input type="radio" name="coo-star" class="star-3" id="coo-star-3" />
                            <label class="star-3" for="coo-star-3">3</label>
                            <input type="radio" name="coo-star" class="star-4" id="coo-star-4" />
                            <label class="star-4" for="coo-star-4">4</label>
                            <input type="radio" name="coo-star" class="star-5" id="coo-star-5" />
                            <label class="star-5" for="coo-star-5">5</label>
                            <span></span>
                           </div>
                         </td>   
                       </tr>
                       <tr>
                          <td><label for="small" class="form-label">Creativity</label></td>     
                          <td><div class="stars">
                              <input type="radio" name="cre-star" class="star-1" id="cre-star-1" />
                              <label class="star-1" for="cre-star-1">1</label>
                              <input type="radio" name="cre-star" class="star-2" id="cre-star-2" />
                              <label class="star-2" for="cre-star-2">2</label>
                              <input type="radio" name="cre-star" class="star-3" id="cre-star-3" />
                              <label class="star-3" for="cre-star-3">3</label>
                              <input type="radio" name="cre-star" class="star-4" id="cre-star-4" />
                              <label class="star-4" for="cre-star-4">4</label>
                              <input type="radio" name="cre-star" class="star-5" id="cre-star-5" />
                              <label class="star-5" for="cre-star-5">5</label>
                              <span></span>
                             </div>
                           </td>   
                         </tr>
                         <tr>
                            <td><label for="small" class="form-label">Takes Initiative</label></td>     
                            <td><div class="stars">
                                <input type="radio" name="tak-star" class="star-1" id="tak-star-1" />
                                <label class="star-1" for="tak-star-1">1</label>
                                <input type="radio" name="tak-star" class="star-2" id="tak-star-2" />
                                <label class="star-2" for="tak-star-2">2</label>
                                <input type="radio" name="tak-star" class="star-3" id="tak-star-3" />
                                <label class="star-3" for="tak-star-3">3</label>
                                <input type="radio" name="tak-star" class="star-4" id="tak-star-4" />
                                <label class="star-4" for="tak-star-4">4</label>
                                <input type="radio" name="tak-star" class="star-5" id="tak-star-5" />
                                <label class="star-5" for="tak-star-5">5</label>
                                <span></span>
                               </div>
                             </td>   
                           </tr>
                           <tr>
                              <td><label for="small" class="form-label">Coworking Relation</label></td>     
                              <td><div class="stars">
                                  <input type="radio" name="cow-star" class="star-1" id="cow-star-1" />
                                  <label class="star-1" for="cow-star-1">1</label>
                                  <input type="radio" name="cow-star" class="star-2" id="cow-star-2" />
                                  <label class="star-2" for="cow-star-2">2</label>
                                  <input type="radio" name="cow-star" class="star-3" id="cow-star-3" />
                                  <label class="star-3" for="cow-star-3">3</label>
                                  <input type="radio" name="cow-star" class="star-4" id="cow-star-4" />
                                  <label class="star-4" for="cow-star-4">4</label>
                                  <input type="radio" name="cow-star" class="star-5" id="cow-star-5" />
                                  <label class="star-5" for="cow-star-5">5</label>
                                  <span></span>
                                 </div>
                               </td>   
                             </tr>
                             <tr>
                                <td><label for="small" class="form-label">Dependability</label></td>     
                                <td><div class="stars">
                                    <input type="radio" name="dep-dep-star" class="star-1" id="dep-dep-star-1" />
                                    <label class="star-1" for="dep-dep-star-1">1</label>
                                    <input type="radio" name="dep-star" class="star-2" id="dep-star-2" />
                                    <label class="star-2" for="dep-star-2">2</label>
                                    <input type="radio" name="dep-star" class="star-3" id="dep-star-3" />
                                    <label class="star-3" for="dep-star-3">3</label>
                                    <input type="radio" name="dep-star" class="star-4" id="dep-star-4" />
                                    <label class="star-4" for="dep-star-4">4</label>
                                    <input type="radio" name="dep-star" class="star-5" id="dep-star-5" />
                                    <label class="star-5" for="dep-star-5">5</label>
                                    <span></span>
                                   </div>
                                 </td>   
                               </tr>
          </table>
          <label class="form-comment">Comment</label><br>
          <textarea ></textarea>
         </div>
         <button type="submit">Submit</button>
       </form>
     </div>  
   </div>