<table>
  <thead>
  <th>Feedback</th>
  <th>Reply</th>
  </thead>
  <tbody>
  <tr *ngFor="let feed of Feedback">
  <td>You have new Feedback from Ananomous User titled {{feed.titled}}.  Click the button to check</td>
  <td ><button class="btn info" (click)=Check(feed)>Proceed</button></td>
   
  </tr>
  
  </tbody>
  </table>
<div  *ngIf="flag==true">

  <div class="card-small card-shadow">
    <div class="card-header">
        <h2 class="header">feedback title</h2>
    </div>
  
  
    <div class="card-default-form" >
        <div class="container-box">
          <table>
            <tr>
              <td><label class="form-label">Sender</label></td>
              <td><label class="form-label">Ananomous</label></td>
            </tr>
            <tr>
                <td><label class="form-label">Venue</label></td>
                <td><label class="form-label">{{Venue}}</label></td>
            </tr>
            <tr>
                <td><label class="form-label">Date</label></td>
                <td><label class="form-label">{{Date}}</label></td>
            </tr>
            <tr>
              <td><label class="form-label"></label></td>
            </tr>
          </table>
           <label class="form-label"><strong>Members</strong></label>
         
        </div>
     </div>  
   </div>
  
  
   <div class="card card-shadow">
      <div class="card-header">
          <h2 class="header">Performance feedback</h2>
      </div>
    
    
      <div class="card-default-form" >
        <form action="" name="feedback-form" method="POST">
          <div class="container-box">
            <table>
              <tr>
                <td><label class="form-label">Title</label></td>
                <td><input type="text" class="form-textbox" value={{Title}} id="title-textbox"></td>
              </tr>
              <tr>
                  <td><label class="form-label">Venue</label></td>
                  <td><input type="text" class="form-textbox" id="venue-textbox" value={{Venue}}></td>
              </tr>
              <tr>
                  <td><label class="form-label">Date</label></td>
                  <td><input type="text" class="form-textbox" id="date-textbox"value={{Date}}></td>
              </tr>
            </table>
          </div>
          <div class="card-header">
              <h2 class="header">Performance Evaluation</h2>
          </div>
          <div class="container-box">
            <table>
            <tr>
                <td><label class="form-label">Work Quality</label></td>     
                <td><div class="stars">
                    <input type="radio" name="wq-star" class="star-1" id="wq-star-1" [checked]='wqstar==1' />
                    <label class="star-1" for="wq-star-1">1</label>
                    <input type="radio" name="wq-star" class="star-2" id="wq-star-2" [checked]='wqstar==2'/>
                    <label class="star-2" for="wq-star-2">2</label>
                    <input type="radio" name="wq-star" class="star-3" id="wq-star-3" [checked]='wqstar==3'/>
                    <label class="star-3" for="wq-star-3">3</label>
                    <input type="radio" name="wq-star" class="star-4" id="wq-star-4" [checked]='wqstar==4'/>
                    <label class="star-4" for="wq-star-4">4</label>
                    <input type="radio" name="wq-star" class="star-5" id="wq-star-5" [checked]='wqstar==5'/>
                    <label class="star-5" for="wq-star-5">5</label>
                    <span></span>
                   </div>
                 </td>   
               </tr>
               <tr>
                  <td><label for="small" class="form-label">Communication</label></td>     
                  <td><div class="stars">
                      <input type="radio" name="com-star" class="star-1" id="com-star-1" [checked]='comstar==1'/>
                      <label class="star-1" for="com-star-1">1</label>
                      <input type="radio" name="com-star" class="star-2" id="com-star-2" [checked]='comstar==2'/>
                      <label class="star-2" for="com-star-2">2</label>
                      <input type="radio" name="com-star" class="star-3" id="com-star-3" [checked]='comstar==3'/>
                      <label class="star-3" for="com-star-3">3</label>
                      <input type="radio" name="com-star" class="star-4" id="com-star-4" [checked]='comstar==4'/>
                      <label class="star-4" for="com-star-4">4</label>
                      <input type="radio" name="com-star" class="star-5" id="com-star-5" [checked]='comstar==5'/>
                      <label class="star-5" for="com-star-5">5</label>
                      <span></span>
                     </div>
                   </td>   
                 </tr>
                 <tr>
                    <td><label for="small" class="form-label">Technical Skills</label></td>     
                    <td><div class="stars">
                        <input type="radio" name="ts-star" class="star-1" id="ts-star-1" [checked]='tsstar==1'/>
                        <label class="star-1" for="ts-star-1">1</label>
                        <input type="radio" name="ts-star" class="star-2" id="ts-star-2" [checked]='tsstar==2'/>
                        <label class="star-2" for="ts-star-2">2</label>
                        <input type="radio" name="ts-star" class="star-3" id="ts-star-3" [checked]='tsstar==3'/>
                        <label class="star-3" for="ts-star-3">3</label>
                        <input type="radio" name="ts-star" class="star-4" id="ts-star-4" [checked]='tsstar==4'/>
                        <label class="star-4" for="ts-star-4">4</label>
                        <input type="radio" name="ts-star" class="star-5" id="ts-star-5" [checked]='tsstar==5'/>
                        <label class="star-5" for="ts-star-5">5</label>
                        <span></span>
                       </div>
                     </td>   
                   </tr>
                   <tr>
                      <td><label for="small" class="form-label">Productivity</label></td>     
                      <td><div class="stars">
                          <input type="radio" name="pro-star" class="star-1" id="pro-star-1" [checked]='prostar==1'/>
                          <label class="star-1" for="pro-star-1">1</label>
                          <input type="radio" name="pro-star" class="star-2" id="pro-star-2" [checked]='prostar==2'/>
                          <label class="star-2" for="pro-star-2">2</label>
                          <input type="radio" name="pro-star" class="star-3" id="pro-star-3" [checked]='prostar==3'/>
                          <label class="star-3" for="pro-star-3">3</label>
                          <input type="radio" name="pro-star" class="star-4" id="pro-star-4" [checked]='prostar==4'/>
                          <label class="star-4" for="pro-star-4">4</label>
                          <input type="radio" name="pro-star" class="star-5" id="pro-star-5" [checked]='prostar==5'/>
                          <label class="star-5" for="pro-star-5">5</label>
                          <span></span>
                         </div>
                       </td>   
                     </tr>
                     <tr>
                        <td><label for="small" class="form-label">Attitude</label></td>     
                        <td><div class="stars">
                            <input type="radio" name="att-star" class="star-1" id="att-star-1" [checked]='attstar==1'/>
                            <label class="star-1" for="att-star-1">1</label>
                            <input type="radio" name="att-star" class="star-2" id="att-star-2" [checked]='attstar==2'/>
                            <label class="star-2" for="att-star-2">2</label>
                            <input type="radio" name="att-star" class="star-3" id="att-star-3" [checked]='attstar==3'/>
                            <label class="star-3" for="star-3">3</label>
                            <input type="radio" name="att-star" class="star-4" id="att-star-4" [checked]='attstar==4'/>
                            <label class="star-4" for="att-star-4">4</label>
                            <input type="radio" name="att-star" class="star-5" id="att-star-5" [checked]='attstar==5'/>
                            <label class="star-5" for="att-star-5">5</label>
                            <span></span>
                           </div>
                         </td>   
                       </tr>
                       <tr>
                          <td><label for="small" class="form-label">Cooperation</label></td>     
                          <td><div class="stars">
                              <input type="radio" name="coo-star" class="star-1" id="coo-star-1" [checked]='coostar==1'/>
                              <label class="star-1" for="coo-star-1">1</label>
                              <input type="radio" name="coo-star" class="star-2" id="coo-star-2" [checked]='coostar==2'/>
                              <label class="star-2" for="coo-star-2">2</label>
                              <input type="radio" name="coo-star" class="star-3" id="coo-star-3" [checked]='coostar==3'/>
                              <label class="star-3" for="coo-star-3">3</label>
                              <input type="radio" name="coo-star" class="star-4" id="coo-star-4" [checked]='coostar==4'/>
                              <label class="star-4" for="coo-star-4">4</label>
                              <input type="radio" name="coo-star" class="star-5" id="coo-star-5" [checked]='coostar==5'/>
                              <label class="star-5" for="coo-star-5">5</label>
                              <span></span>
                             </div>
                           </td>   
                         </tr>
                         <tr>
                            <td><label for="small" class="form-label">Creativity</label></td>     
                            <td><div class="stars">
                                <input type="radio" name="cre-star" class="star-1" id="cre-star-1" [checked]='crestar==1'/>
                                <label class="star-1" for="cre-star-1">1</label>
                                <input type="radio" name="cre-star" class="star-2" id="cre-star-2" [checked]='crestar==2'/>
                                <label class="star-2" for="cre-star-2">2</label>
                                <input type="radio" name="cre-star" class="star-3" id="cre-star-3" [checked]='crestar==3'/>
                                <label class="star-3" for="cre-star-3">3</label>
                                <input type="radio" name="cre-star" class="star-4" id="cre-star-4" [checked]='crestar==4'/>
                                <label class="star-4" for="cre-star-4">4</label>
                                <input type="radio" name="cre-star" class="star-5" id="cre-star-5" [checked]='crestar==5'/>
                                <label class="star-5" for="cre-star-5">5</label>
                                <span></span>
                               </div>
                             </td>   
                           </tr>
                           <tr>
                              <td><label for="small" class="form-label">Takes Initiative</label></td>     
                              <td><div class="stars">
                                  <input type="radio" name="tak-star" class="star-1" id="tak-star-1" [checked]='takstar==1'/>
                                  <label class="star-1" for="tak-star-1">1</label>
                                  <input type="radio" name="tak-star" class="star-2" id="tak-star-2" [checked]='takstar==2'/>
                                  <label class="star-2" for="tak-star-2">2</label>
                                  <input type="radio" name="tak-star" class="star-3" id="tak-star-3" [checked]='takstar==3'/>
                                  <label class="star-3" for="tak-star-3">3</label>
                                  <input type="radio" name="tak-star" class="star-4" id="tak-star-4" [checked]='takstar==4'/>
                                  <label class="star-4" for="tak-star-4">4</label>
                                  <input type="radio" name="tak-star" class="star-5" id="tak-star-5" [checked]='takstar==5'/>
                                  <label class="star-5" for="tak-star-5">5</label>
                                  <span></span>
                                 </div>
                               </td>   
                             </tr>
                             <tr>
                                <td><label for="small" class="form-label">Coworking Relation</label></td>     
                                <td><div class="stars">
                                    <input type="radio" name="cow-star" class="star-1" id="cow-star-1" [checked]='cowstar==1'/>
                                    <label class="star-1" for="cow-star-1">1</label>
                                    <input type="radio" name="cow-star" class="star-2" id="cow-star-2" [checked]='cowstar==2'/>
                                    <label class="star-2" for="cow-star-2">2</label>
                                    <input type="radio" name="cow-star" class="star-3" id="cow-star-3" [checked]='cowstar==3'/>
                                    <label class="star-3" for="cow-star-3">3</label>
                                    <input type="radio" name="cow-star" class="star-4" id="cow-star-4" [checked]='cowstar==4'/>
                                    <label class="star-4" for="cow-star-4">4</label>
                                    <input type="radio" name="cow-star" class="star-5" id="cow-star-5" [checked]='cowstar==5'/>
                                    <label class="star-5" for="cow-star-5">5</label>
                                    <span></span>
                                   </div>
                                 </td>   
                               </tr>
                               <tr>
                                  <td><label for="small" class="form-label">Dependability</label></td>     
                                  <td><div class="stars">
                                      <input type="radio" name="dep-dep-star" class="star-1" id="dep-dep-star-1" [checked]='depstar==1'/>
                                      <label class="star-1" for="dep-dep-star-1">1</label>
                                      <input type="radio" name="dep-star" class="star-2" id="dep-star-2" [checked]='depstar==2'/>
                                      <label class="star-2" for="dep-star-2">2</label>
                                      <input type="radio" name="dep-star" class="star-3" id="dep-star-3" [checked]='depstar==3'/>
                                      <label class="star-3" for="dep-star-3">3</label>
                                      <input type="radio" name="dep-star" class="star-4" id="dep-star-4" [checked]='depstar==4'/>
                                      <label class="star-4" for="dep-star-4">4</label>
                                      <input type="radio" name="dep-star" class="star-5" id="dep-star-5" [checked]='depstar==5'/>
                                      <label class="star-5" for="dep-star-5">5</label>
                                      <span></span>
                                     </div>
                                   </td>   
                                 </tr>
            </table>
            <label class="form-comment">Comment</label><br>
            <textarea value={{comment}} ></textarea>
           </div>
          
         </form>
       </div>  
     </div>

</div>