<section>
    <div class="parallax">
       

            <app-home-emp></app-home-emp>
        <div class="equal-height-container">
         <div class="first">
            <mat-card>
                <img mat-card-image src="assets/images/project.jpeg" alt="hey">
                <mat-card-actions align="center">
                    <button mat-button routerLink="/project">Add Project </button>
                </mat-card-actions>
            </mat-card>
        </div>
            <!-- <div class="first">
                <mat-card>
                    <img mat-card-image src="assets/images/holiday.jpeg" alt="hey">
                    <mat-card-actions align="center">
                        <button mat-button routerLink="/holiday-list">Holiday List</button>
                    </mat-card-actions>
                </mat-card>
            </div> -->
            <div class="first">
                <mat-card>
                    <img mat-card-image src="assets/images/emp3.jpeg" alt="hey" height="50%">
                    <mat-card-actions align="center">
                        <button mat-button routerLink="/newjoinee">Introdue New Employee</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <!-- <div class="equal-height-container">
            <div class="first">
                <mat-card>
                    <img mat-card-image src="assets/images/project.jpeg" alt="hey">
                    <mat-card-actions align="center">
                        <button mat-button routerLink="/project">Project Info</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="second">
                <mat-card>
                    <img mat-card-image src="assets/images/leave.jpeg" alt="hey">
                    <mat-card-actions align="center">
                        <button mat-button routerLink="/manage-leaves">Manage Leaves</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div> -->
    </div>
</section>
