@import url(https://fonts.googleapis.com/css?family=Lato:900);
.sidenav-container {
	height: 100%;
  }

  .sidenav {
	width: 200px;
  }

  @media (min-width:769px){
	.mat-sidenav{
	  display: none;
	}
  }

  .spacer{
	flex: 1 1 auto;
  }
.mat-toolbar{
  position: fixed;
  height: 62px;
}

.mat-sidenav-content{
  margin-top: 8rem;
}

.mat-nav-list a{
    text-decoration: none;
}
.mat-toolbar a{
	display: inline-block;
  margin:0px 10px;
	color: white;
	text-decoration: none;
  }


mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
		z-index: 1000;

}

.dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: relative;
  background-color: #f9f9f9;
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
@media (max-width:768px){
	.mat-toolbar a{
		display:none;
  }
  button:hover{
    background-color: #335887 !important;
    color: whitesmoke;
 }
  .dropdown:hover>.dropdown-menu {
    z-index: 99;
    display: block;
  }
  .dropdown-menu {
    width: 20rem !important;
    position: absolute;
    top: 101%;
    left: 1%;
    line-height: 5px;
  }
  .dropdown-item{
    height: 4rem;
  }
  
  .dropdown>.dropdown-toggle:active{
    /*Without this, clicking will make it sticky*/
      pointer-events: none;
  }
}
/* @media (hover: hover){
  button:hover{
    background-color: #335887 !important;
    color: whitesmoke;
 }
  .dropdown:hover>.dropdown-menu {
    z-index: 99;
    display: block;
  }
} */
button{
  background-color: whitesmoke;
  color: #21618C;
  font-family: "Carter One"; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 500;
 }
 button:hover{
   background-color: #335887 !important;
   color: whitesmoke;
}

 .mat-sidenav .btn-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }
 /* .dropdown:hover .dropdown-content {
  display:block;
} */
.dropdown:hover>.dropdown-menu {
  display: inline-block;
}
.dropdown-menu {
  min-width: 50px !important;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.mat-toolbar{
  background-color:#21618C  ;
  box-shadow: 1px 2px #2E4053;
}
.mat-icon-button{
  background-color: #21618C;
  color: white;
}
.mm{
  margin:0;
}
.matmenu{
  font-size: 1%;

}

*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Lato',  Courier;
}

.letter{
  display: inline-block;
  font-weight: 500;
  font-size: 1.4em;
  position: relative;
  color: #00B4F1;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
  font-family: 'Lato',  Courier;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}