<div id="hero">    
  <div id="hero-overlay">
    <div class="authBlock" >
      <mat-card class="example-card" >
        <mat-card-header class="one" align="center">
            <div fxFlex></div>
          <mat-card-title>Nineleaps Feedback portal</mat-card-title>
        </mat-card-header>
        <mat-card-actions class="two" align="center">
            <div fxFlex></div>
            <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
                
                Log in with &nbsp;<img src="assets/images/gg2.png" width="25px" height="25px">
              </button>
          
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

