.greenClass{
  color: green;
}
.redClass{
  color: red;
}
th{
  font-family: "Carter One"; 
  font-size: 18px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 190; 
  line-height: 26.4px;
  background-color:#21618C;
  color: white;
  text-align: center !important; 
}
table{
  -webkit-column-gap: 60px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px
}
th mat-header-cell{
  text-align: center !important;
}
.btn{
background-color: #21618C;
color: white;
flex-wrap:wrap;
border-radius: 0px;
text-align: center;
border: none;
padding: 10px 25px;
display: inline-block;
border-radius: 1px;
}

.btn:hover{
background-color: #335887 !important;
color: whitesmoke;
}
mat-tab{
background-color: #21618C;
}
.greenClass{
color: green;
}

.redClass{
color: red;
} 
