<app-nav>
<app-home-emp></app-home-emp>
<section>
  <div class="parallax">
      
      <div class="equal-height-container">
          <div class="first" >
            <mat-card>
              <img mat-card-image src="assets/images/feed.jpg" alt="hey">
              <mat-card-actions>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-button routerLink="createfeedback">Create Feedback</button>
              </mat-card-actions>
            </mat-card>
          </div>
          </div>
      </div>
</section>
</app-nav>